* {
    padding: 0;
    margin: 0;
}
html {
    min-height: 100%;
    letter-spacing: 2px;
}

.container {
    /* display: flex; */
    width: 60%;
    margin: 0 auto;
}

header {
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid tomato;
    background-color: tomato;
    color: white;
}

.welcome {
    text-align: center;
    margin-bottom: 2%;
    line-height: 2;
}

main {
    margin: 4%;
    padding: 2%;
}
.main-img {
    display: flex;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
button {
    background-color: tomato;
    padding: 2px 4px;
    border-radius: 3px;
    color: white;
}

img {
    width: 100%;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.stats p {
    text-transform: uppercase;
    text-decoration: underline;
}

footer {
    border-top: 2px solid black;
    bottom: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 1.5%;
    background-color: tomato;
    color: white;
}